{:dev        true
 :port       3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :producer   {:bootstrap.servers "localhost:9092"
              :key.serializer    "org.apache.kafka.common.serialization.ByteArraySerializer"
              :value.serializer  "org.apache.kafka.common.serialization.ByteArraySerializer"}}
